div.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10;
}

div.navbar-left {
}

div.navbar-right {
    display: flex;
    align-items: center;
}

div.main {
    width: 100%;
    height: 97vh;
    display: flex;
    justify-content: center;
}

div.footer {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 3vh;
}

div.footer-left {
    background-color: red;
}

div.footer-middle {
    background-color: chocolate;
}

div.footer-right {
    background-color: crimson;
}

div.parent {
    display: flex;
    flex-direction: column;
}

html {
    background-color: #202124;
}

a.about{
    text-decoration: none;
    color:white
}

a.store{
    text-decoration: none;
    color:white
}

a.gmail{
    text-decoration: none;
    color:white
}

a.images{
    text-decoration: none;
    color:white
}

div.searchbar {
    height: 50px;
    width: 100%;
    position: absolute;
    top: 30%;
    display: flex;
    justify-content: center;
}

input {
    border: 0;
    max-width: 600px;
    min-width: 360px;
    width: 100%;
    border-radius: 5rem;
    padding-left: 30px;
    background-color: #4d5156;
}

button {
    position: absolute;
    top: 160%;
    right: 60%;
    background-color: #303134;
    color: white;
    width: 150px;
    height: 35px;
    border: 0;
    border-radius: 0.3rem;
}
